<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="shortcut icon" type="image/png" href="<%= BASE_URL %>img/icons/favicon-16x16.png" />
	<title>Cashier</title>
</head>

<body>
	<noscript>
		<strong>We're sorry but Cashier doesn't work properly without JavaScript enabled. 
			Please enable it to continue.</strong>
	</noscript>

	<div id="app"></div>
</body>

</html>