<template>
  <q-page class="flex flex-center bg-colour1">
    <img alt="Quasar logo" src="/statics/icons/icon96.png">
  </q-page>
</template>

<script>
export default {
  name: 'PageHome'
}
</script>
